<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace="com.bear.mapper">
    <select id="selectUser" resultType="com.bear.pojo.User">
        select *from t_user
    </select>

    <insert id="insertUser" parameterType="com.bear.pojo.User">
        insert into t_user(user_id,username,ustatus) values(#{user_id},#{username},#{ustatus})
    </insert>

    <update id="updateUser" parameterType="com.bear.pojo.User">
        update t_user set user_id=#{user_id},username=#{username},ustatus=#{ustatus} where user_id=#{user_id}
    </update>

    <delete id="delUser" parameterType="int">
        delete from t_user where user_id=#{user_id}
    </delete>
</mapper>
